.flights
{
    position: relative;

    width: 100%;

    table-layout: fixed;
    &-header
    {
        font-weight: 600;

        word-wrap: break-word;

        color: #fff;
        background: #ff6437;
        // &_type
        // {
        //     width: 50px;
        // }
    }
}
.flight
{
    word-wrap: break-word;
    &:nth-child(even)
    {
        background: rgba(81, 241, 227, .5);
    }
    &:nth-child(odd)
    {
        background: rgba(81, 241, 227, 1);
    }
    &:hover
    {
        background: rgba(255,215,97,.8);
    }
    &-info
    {
        &_short
        {
            display: none;
        }
        // &.type
        // {
        //     width: 50px;
        // }
    }
    img
    {
        width: 45px;
    }
}

@media screen and (min-width: 1000px)
{
    .flight-info_long
    {
        display: inline;
    }
    .flight-info_short
    {
        display: none;
    }
}
@media screen and (max-width: 1000px)
{
    .company
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }

}
@media screen and (max-width: 900px)
{
	.status
    {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50px;
    }
}
@media screen and (max-width: 850px)
{
    .airport
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
}
@media screen and (max-width: 800px)
{
    
    .comment
    {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50px;
    }
}
@media screen and (max-width: 750px)
{
    
    .aircraft
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
}
@media screen and (max-width: 700px)
{
    .type
    {
        .flight-info_long
        {
            display: none;
        }
        .flight-info_short
        {
            display: inline;
        }
    }
    .flights-header_type {
    	width: 50px;
    }
}
